# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Poetry
poetry.lock
.cache/
poetry.toml

# Distribution / packaging
dist/
build/
*.egg-info/

# Test / coverage reports
.coverage
coverage.xml
htmlcov/
.tox/
.cache/
.pytest_cache/

# Mypy / Ruff / Pyright / others
.mypy_cache/
.ruff_cache/
.pyright/

# Editor / OS metadata
*.swp
*.swo
*.DS_Store
.idea/
.vscode/
*.log


# MkDocs build output
site/

# Env files
.env
.env.*

# Pre-commit
.pre-commit-config.yaml
.pre-commit-cache/

# Virtual environments (just in case)
.venv/
venv/
